POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=#r05q9ijzuhy%h3(5rw=p-nz8f-g6xg41edp_2#--)dksol0)r
DJANGO_ALLOWED_HOSTS=.portalevm.com
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True
DJANGO_SENTRY_DSN=


DJANGO_OPBEAT_ORGANIZATION_ID
DJANGO_OPBEAT_APP_ID
DJANGO_OPBEAT_SECRET_TOKEN

